/* src/components/About.css */

.about-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.company-info,
.team-members {
  margin-bottom: 40px;
}

h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.team-member-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.team-member {
  width: calc(50% - 10px);
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.team-member img {
  max-width: 100%;
  margin-bottom: 5%;
}

@media (max-width: 480px) {
  h2 {
    font-size: 24px;
  }

  .team-member {
    padding: 10px;
  }
}
